.grid{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    align-items: center;
}

.turn-highlight{
    color: var(--yellow);
}

button{
    color:black;
    background-color: var(--yellow);
    padding: 0.3rem;
    font-size: medium;

}